# Dependencies
node_modules/

# Test Results
allure-results/
allure-report/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Secrets
.env.secret

# Coverage
coverage/
